@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');

:root{
    --cor-de-fundo: #E0C919;
    --cor-titulo-grande: #000000;
    --cor--titulo-medio: #33322C;
    --cor--primaria: #36352A;
    --cor1--para--botao: #FFDA00;
    --cor2--para--botao:#E2C100;
}